<div *ngIf="!loading"
     [@simpleFadeAnimation]="'in'"
     id="main">

  <h1> Ratalyzer </h1>

  <h2 class="text-secondary"> Extremely accurate wheel counter.</h2>

  <p-dropdown class="mr-2"
              [disabled]="testing || !connected"
              [editable]="true"
              [options]="nameOptions"
              [placeholder]="'Select Victim'"
              [(ngModel)]="ratName"></p-dropdown>

  <button pButton
          [disabled]="testing || !ratName.length || !connected"
          type="button"
          label="Start"
          class="ui-button ui-button-success mr-2"
          (click)="start()"></button>

  <button pButton
          [disabled]="!testing || !connected"
          type="button"
          label="Stop"
          class="ui-button-raised ui-button-danger mb-3"
          (click)="stop()"></button>

  <p-chart *ngIf="timeStarted"
           type="line"
           [data]="data"
           [height]="225"
           [options]="options"
           #chart></p-chart>

  <div *ngIf="!timeStarted">
    <img src="assets/images/rat.png">
  </div>

  <div class="footer"
       *ngIf="timeStarted">

    <span>

      <b>Total Count: {{ count }} </b>

    </span>

    <span class="float-right">

       <b>Time Elapsed: {{ timeElapsed }} </b>

    </span>

    <div>
      <b> File Name: {{ fileName }} </b>
    </div>


  </div>

</div>

<app-loading [loading]="loading"></app-loading>


